# ignore all files I have not modified
src/*
CHANGELOG.txt
example/*
Makefile
Nemo2-manual.pdf
VERSION
bin/*


# track files I am making modifications to
!src/LCEbreed.cc
!src/LCEbreed.h
!src/ttdeletmutations_bitstring.cc

!Readme.md
!.gitignore