# ignore all files I have not modified
src/*
CHANGELOG.txt
example/*
Makefile
Nemo2-manual.pdf
VERSION
bin/*
edited_src/*
INSTALL
Inputs/*
nemo2.3.38.tgz
.DS_Store
src_PreBreedingWindow.zip

# track files I am making modifications to
!src/LCEbreed.cc
!src/LCEbreed.h
!src/ttdeletmutations_bitstring.cc
!src/LCEcomposite.cc
!src/LCEcomposite.h
!src/LCEdisperse.h
!src/LCEdisperse.cc


!Readme.md
!.gitignore
